@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro-Italic.woff) format('woff');
}


@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-LightItalic.woff) format('woff');
}

html, body, div {
    background-color: #111;
    height: inherit;
    width: inherit;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Spotify', Helvetica, sans-serif;
}

div, h1, header{
    /* border: 1px solid orange; */
}

h1, h2{
    margin: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;
    margin-top: 50px;
}

h2{
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
}

header{
    height: 150px;
}

a{
    text-decoration: none;
    color: inherit;
}

div#choice-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vmin;
    height: 45vmin;
    margin: 20px auto 70px;
    text-align: center;
    gap: 30px;
}

div.tile{
    font-family: 'verdana', 'arial', sans-serif;
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 600px){
    div#choice-container{
        grid-template-columns: 1fr;
        width: 80vw;
        height: 160vw;
    }

}