@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro-Italic.woff) format('woff');
}


@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-LightItalic.woff) format('woff');
}

html, body{
    height: 100%;
    width: inherit;
    margin: 0;
    user-select: none;
}

h1{ font-weight: 500; }

a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'verdana', 'arial', sans-serif;

}

body{
    font-family: 'Spotify', Helvetica, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

header{
    height: 250px;
}

div.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

span#big-text{
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
}

div.subtitle{
    font-weight: 400;
    font-size: 25px;
    color: #888;
    margin-top: 30px;
}

div.container{ 
    text-align: center; 
}

form#tile-data{
    height: 100%;
}

div#tile-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 81vmin;
    height: 54vmin;
    margin: 0 auto;
    gap: 20px;
}

.tile{
    background: black;
    /* color: var(--theme-color); */
    border: 10px solid; 
    /* var(--theme-color); */
    border-radius: 25px;
    line-height: 600%;
    font-size: 2vmin;
    font-weight: 700;

    animation: fade-out forwards 0.4s;
    animation-fill-mode: forwards;
}

@keyframes fade-out{
    0%{ border-color: black; color: black; background-color: var(--theme-color); }
    100%{ border-color: var(--theme-color); color: var(--theme-color); background-color: black; }
}

.tile:hover{
    animation: fade-in forwards 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    0%{ background-color: black; color: var(--theme-color);}
    100%{ border-color: black; color: black; background-color: var(--theme-color); }
}

#clicked-tile{
    animation: swoop 0.3s forwards;
    animation-fill-mode: forwards;
    border-radius: 25px;
    border-color: black !important; 
    background-color: var(--theme-color);
}

@keyframes swoop{
      0%{ transform: scale(1, 1); }
     50%{ transform: scale(0.9, 0.9); }
    100%{ transform: scale(1, 1); }
}

#clicked-tile-text{
    animation: none;
    color:black;
}

@media(max-width: 700px){
    div.container{
        padding-bottom: 100px;
    }

    header{
        height: 300px;
    }

    div#tile-container{
        grid-template-columns: 1fr 1fr;
        width: 68vmin;
        height: 102vmin;
    }

    span#big-text span{
        display: block;
        padding-bottom: 20px;
    }


}