@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Gotham-Font/GothamPro-Italic.woff) format('woff');
}


@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Gotham-Font/GothamPro-LightItalic.woff) format('woff');
}

html, body, div {
    font-size: 1.25rem;
    background-color: #111;
    height: inherit;
    width: inherit;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Spotify', Helvetica, sans-serif;
}

h1, h2{
    margin: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;
    margin-top: 80px;
}

h2{
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
}

header{
    height: 190px;
}

a{
    text-decoration: none;
    color: inherit;
    z-index: 2;
}

div#choice-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vmin;
    height: 45vmin;
    margin: 20px auto 70px;
    text-align: center;
    gap: 30px;
}

.tile{
  font-family: 'verdana', 'arial', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  font-size: 30pt;
  color: #FFF;
  z-index: 1;
  position: relative;
  color: white;
}

:root{
  --image-alpha: rgba(0,0,0, 0.7);
  --image-alpha-recover: rgba(0,0,0,0.3);
}

div.tile::before{
  z-index: -1;
  position: absolute;
  top: 0px; bottom: 0px; left: 0px; right: 0px; 
  content: "";
  background-color: var(--image-alpha);
}

div.tile#highlighted{
  animation: change-bg-size 0.7s forwards;
  animation-fill-mode: forwards;
}
@keyframes change-bg-size {
  0%{ background-size: auto 100%;}
  100%{ background-size: auto 110%;}
}

div.tile#highlighted::before{
  animation: change-alpha 1s forwards;
  animation-fill-mode: forwards;
}
@keyframes change-alpha { 100%{background-color: var(--image-alpha-recover);}}


@media(max-width: 600px){
    div#choice-container{
        grid-template-columns: 1fr;
        width: 80vw;
        height: 160vw;
    }

}