@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: lighter;
    src: url(fonts/Gotham-Font/GothamPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: lighter;
    src: url(fonts/Gotham-Font/GothamPro-LightItalic.woff) format('woff');
}

body{
    font-family: 'Spotify', Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    height:100%
}

header{
    text-align:center;
    height: 200px;
}

header div.container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

span#big-text{
    font-weight: 500;
    font-size: 30pt;
    margin: 0;
}

h1{
    font-weight: 500;
}

p{
    font-weight: 300;
}