@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Gotham-Font/GothamPro-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Gotham-Font/GothamPro-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Gotham-Font/GothamPro-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: normal;
    font-weight: lighter;
    src: url(fonts/Gotham-Font/GothamPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'Spotify';
    font-style: italic;
    font-weight: lighter;
    src: url(fonts/Gotham-Font/GothamPro-LightItalic.woff) format('woff');
}

/* lowest settings */
h1{
    font-weight: 500;
}

p{
    font-weight: 300;
}
/* lowest settings end */

a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;

}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Spotify', Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    height:100%;
    width: 100%;
}

header{
    text-align:center;
    height: 180px;
}

.header-container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

#big-text{
    font-weight: bold;
    font-size: 5vmin;
    margin: 0;
}

.subtitle{
    font-weight: 500;
    font-size: 30px;
    text-align:center;
    margin: 2vh 0 3vh 0;
    color: inherit;
}

.container{
    text-align: center;
}

#tile-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vmin;
    height: 60vmin;
    margin: 0 auto;
}

.tile{
    background: black;
    color: black;
    border-radius: 25px;
    line-height: 600%;
    font-size: 20pt;
    font-weight: 700;
    margin: 10px;
    border-width: 10px;
    border-style: solid;
    /* border-color: black !important; */
    animation: fade-out forwards 3s;
    animation-fill-mode: forwards;
}

/* only background color = yes, other = black */
@keyframes fade-out{
    0%{ border-color: black; color: black; background-color: var(--current-color); }
    100%{ border-color: var(--current-color); color: var(--current-color); background-color: black; }
}

.tile:hover{
    animation: fade-in forwards 0.75s;
    animation-fill-mode: both;
}

/* color, border color = yes */
@keyframes fade-in{
    0%{ background-color: black; color: var(--current-color);}
    100%{ border-color: black; color: black; background-color: var(--current-color); }
}

#big-text{
    animation: follow-color 2s alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes follow-color {
    0%{ color: currentColor; }
    100%{ color: var(--current-color); }
}
 
.special-one{
    animation: swoop 0.5s forwards;
    animation-fill-mode: forwards;
    border-radius: 25px;
    border-color: black; 
    background-color: var(--current-color);
}

@keyframes swoop{
    0%{
        transform: scale(0.8, 0.8);
    }

    50%{
        transform: scale(0.7, 0.7);
    }

    100%{
        transform: scale(0.8, 0.8);
    }
}

.special-one-text{
    animation: none;
    color:black;
    line-height: 600%;
    font-size: 20pt;
    margin-top:10px;
    font-weight: 700;
}