<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title>Spotify Song Recommender</title>
    </head>
    <body>
        <p>
            <span style="font-weight:900;">ABC This is bolder.</span> <br>
            <span style="font-weight:bold;">ABC This is bolder.</span> <br>
            <span style="font-weight:500;">ABC This is normal.</span> <br>
            <span style="font-weight:lighter;">ABC This is lighter.</span> <br>
        </p>
    </body>
</html>
