{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">

        <!-- javascript linkage -->
        <script src="{% static 'web/js/tileSet.js' %}"></script>
        <script src="{% static 'web/js/linkResult.js' %}"></script>

        <!-- favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'web/images/favicon.ico' %}">
        <!-- favicon settings end -->

        <title>Spotify Song Recommender</title>
        
        <style id="color-save"></style>
    </head>
    <body>
        <!-- start of header -->
        <header>
            <div class="header-container">
                <span id="big-text">Spotify Song Recommender</span>
            </div>
        </header>
        <!-- end of header -->

        <!-- subtitle -->
        <div class="subtitle" id="pg1">CHOOSE A TILE!</div> 

        <!-- start of main container -->
        <div class="container">
            <!-- data input taker -->
            <form id="tile-data" name="tile-data" action="result/" method="POST" accept-charset="UTF-8">
                <!-- data input sender -->
                <input type="hidden" id="button-kind" name="choice" value="">
                <div id="tile-container">
                    <div class="tile" onmouseover="setTileAnimation(this);">
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">STUDY</a>
                    </div>
                    <div class="tile" onmouseover="setTileAnimation(this);">
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">LOFI</a> 
                    </div>
                    <div class="tile" onmouseover="setTileAnimation(this);"> 
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">DRIVE</a> 
                    </div>
                    <div class="tile" onmouseover="setTileAnimation(this);">
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">CHILL</a> 
                        </div>
                    <div class="tile" onmouseover="setTileAnimation(this);"> 
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">SLEEP</a> 
                    </div>
                    <div class="tile" onmouseover="setTileAnimation(this);"> 
                        <a href="javascript:;" onclick="parseStringOfButton(this); setAsSpecialOne(this);">TILE 6</a> 
                    </div>
                </div>
            </form>
        </div>
        <!-- end of main container -->
    </body>
</html>
