{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/style-song.css' %}">
        
        <!-- favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'web/images/favicon.ico' %}">
        <!-- favicon settings end -->
        
        <title>Recommendations Based On Your Picks</title>

        <script>

        </script>
    </head>
    <body>
        <!-- start of header -->
        <header>
            <h1>Choose By Your Favorite Songs</h1>
            <h2>Search and Pick 3 Songs You Like</h2>
        </header>
        <!-- end of header -->
        
        <!-- main container -->
        <div class="container">
            <div class="search-area">
                <form method="POST" name="search-form" id="search-form" action="">
                    <!-- search input -->
                    <input 
                    type="search" 
                    name="search" 
                    id="search"
                    placeholder="Search for your favorite song"
                    spellcheck="false"
                    autocomplete="off"
                    autofocus="true"
                    >
                    <!-- cookie validator -->
                    {%csrf_token%} 
                    <div class="autocom-box"> 
                        <!-- here auto completion is done by js -->
                    </div>
                </form>
            </div>
            <form id="fav-songs" action="../result/" method="POST">
                <input type="hidden" name="trackIds" id="trackIds">
                <!-- {{ autocompletionList | safe }}
                    search input -->
                <div class="select-area">
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
                <!-- submit form: get() -->
                <button>submit</button> 
                <!-- cookie validator -->
                {%csrf_token%}
                <input type="hidden" name="rec-kind" value="by-song">
            </form>

        </div>

            <!-- javascript link -->
            <script src="{% static 'web/js/songsRec.js' %}"></script>
            <script src="{% static 'web/js/autoComplete.js' %}"></script>
        </body>
        </html>