{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/style-song.css' %}">

        <!-- favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'web/images/favicon.ico' %}">
        <!-- favicon settings end -->

        <title>Recommendations Based On Your Picks</title>

    </head>
    <body>
        <!-- start of header -->
        <header>
            <h1>Choose By Your Favorite Songs</h1>
            <h2>Search and Pick 3+ Songs You Like</h2>
        </header>
        <!-- end of header -->

        <!-- main container -->
        <div class="container">
            <input type="text">
        </div> 
    </body>
</html>